In [9]:
import pandas as pd
df=pd.read_csv('./data/monday.csv',delimiter=';',parse_dates=True)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    4884 non-null   object
 1   customer_no  4884 non-null   int64
 2   location     4884 non-null   object
dtypes: int64(1), object(2)
memory usage: 114.6+ KB

In [85]:
df

                timestamp  customer_no  location
0     2019-09-02 07:03:00            1     dairy
1     2019-09-02 07:03:00            2     dairy
2     2019-09-02 07:04:00            3     dairy
3     2019-09-02 07:04:00            4     dairy
4     2019-09-02 07:04:00            5    spices
...                   ...          ...       ...
4879  2019-09-02 21:49:00         1442  checkout
4880  2019-09-02 21:49:00         1444  checkout
4881  2019-09-02 21:49:00         1445     dairy
4882  2019-09-02 21:50:00         1446     dairy
4883  2019-09-02 21:50:00         1447     fruit

[4884 rows x 3 columns]

In [87]:
#change timestamp to datatime
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [23]:
df['location'].unique()

array(['dairy', 'spices', 'fruit', 'checkout', 'drinks'], dtype=object)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    4884 non-null   datetime64[ns]
 1   customer_no  4884 non-null   int64
 2   location     4884 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 114.6+ KB

In [89]:
#Calculate the total number of customers in each section
#example of groupby function: df.groupby("Sex").agg({"Survived":np.sum, "Age":np.mean, "Fare":np.mean})
df_g_l=df.groupby(['location'])['timestamp','customer_no']

C:\Users\zhang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [90]:
d={}
for key,value in df_g_l:
    d[key]=len(value)
print(d)
    #print('section:'key)
    #print('number of customers:'len(value))

{'checkout': 1437, 'dairy': 895, 'drinks': 797, 'fruit': 1005, 'spices': 750}

In [33]:
#df1.head()

In [91]:
# check the values in the groupby subset
for key,value in df_g_l:
    print(key)
    print(value)
   # print(len(value))

checkout
               timestamp  customer_no  location
8    2019-09-02 07:05:00            1  checkout
9    2019-09-02 07:05:00            5  checkout
12   2019-09-02 07:06:00            2  checkout
13   2019-09-02 07:06:00            3  checkout
20   2019-09-02 07:07:00            8  checkout
...                  ...          ...       ...
4864 2019-09-02 21:47:00         1438  checkout
4869 2019-09-02 21:48:00         1431  checkout
4871 2019-09-02 21:48:00         1434  checkout
4879 2019-09-02 21:49:00         1442  checkout
4880 2019-09-02 21:49:00         1444  checkout

[1437 rows x 3 columns]
dairy
               timestamp  customer_no location
0    2019-09-02 07:03:00            1    dairy
1    2019-09-02 07:03:00            2    dairy
2    2019-09-02 07:04:00            3    dairy
3    2019-09-02 07:04:00            4    dairy
10   2019-09-02 07:05:00            6    dairy
...                  ...          ...      ...
4865 2019-09-02 21:47:00         1441    dairy
4868 2019-09-02 21:48:00         1430    dairy
4873 2019-09-02 21:48:00         1443    dairy
4881 2019-09-02 21:49:00         1445    dairy
4882 2019-09-02 21:50:00         1446    dairy

[895 rows x 3 columns]
drinks
               timestamp  customer_no location
11   2019-09-02 07:05:00            7   drinks
16   2019-09-02 07:06:00           11   drinks
21   2019-09-02 07:07:00           12   drinks
39   2019-09-02 07:12:00           20   drinks
43   2019-09-02 07:13:00           19   drinks
...                  ...          ...      ...
4852 2019-09-02 21:43:00         1436   drinks
4857 2019-09-02 21:46:00         1434   drinks
4861 2019-09-02 21:46:00         1440   drinks
4870 2019-09-02 21:48:00         1433   drinks
4872 2019-09-02 21:48:00         1441   drinks

[797 rows x 3 columns]
fruit
               timestamp  customer_no location
7    2019-09-02 07:04:00            8    fruit
15   2019-09-02 07:06:00           10    fruit
19   2019-09-02 07:06:00           14    fruit
27   2019-09-02 07:08:00           15    fruit
32   2019-09-02 07:11:00            7    fruit
...                  ...          ...      ...
4866 2019-09-02 21:47:00         1442    fruit
4867 2019-09-02 21:47:00         1443    fruit
4875 2019-09-02 21:49:00         1430    fruit
4876 2019-09-02 21:49:00         1433    fruit
4883 2019-09-02 21:50:00         1447    fruit

[1005 rows x 3 columns]
spices
               timestamp  customer_no location
4    2019-09-02 07:04:00            5   spices
5    2019-09-02 07:04:00            6   spices
6    2019-09-02 07:04:00            7   spices
17   2019-09-02 07:06:00           12   spices
22   2019-09-02 07:07:00           15   spices
...                  ...          ...      ...
4856 2019-09-02 21:46:00         1433   spices
4859 2019-09-02 21:46:00         1438   spices
4874 2019-09-02 21:48:00         1444   spices
4877 2019-09-02 21:49:00         1440   spices
4878 2019-09-02 21:49:00         1441   spices

[750 rows x 3 columns]

In [93]:
def get_customer_time(df):
   # df.sort_values('timestamp', inplace=True)
    df['time_spent'] = df['timestamp'].max() - df['timestamp'].min()
    return df

In [94]:
#Calculate the time each customer spent in the market
df_g_c=df.groupby(['customer_no']).apply(get_customer_time)

In [96]:
df_g_c

               timestamp  customer_no  location      time_spent
0    2019-09-02 07:03:00            1     dairy 0 days 00:02:00
1    2019-09-02 07:03:00            2     dairy 0 days 00:03:00
2    2019-09-02 07:04:00            3     dairy 0 days 00:02:00
3    2019-09-02 07:04:00            4     dairy 0 days 00:04:00
4    2019-09-02 07:04:00            5    spices 0 days 00:01:00
...                  ...          ...       ...             ...
4879 2019-09-02 21:49:00         1442  checkout 0 days 00:02:00
4880 2019-09-02 21:49:00         1444  checkout 0 days 00:01:00
4881 2019-09-02 21:49:00         1445     dairy 0 days 00:00:00
4882 2019-09-02 21:50:00         1446     dairy 0 days 00:00:00
4883 2019-09-02 21:50:00         1447     fruit 0 days 00:00:00

[4884 rows x 4 columns]

In [65]:
a={}
for key, value in df_g_c:
    
    a[key]=df_g_c.get_group(key)
    
print(a)

TypeError: unhashable type: 'Series'